* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;

}

body {
    background-color: #171810;
    height: 100vh;
   
   

}

/* ============ HEADER STYLE // Nav-menu  ============ */
a {
    text-decoration: none;
}
main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #fff;
}
.buttons-container {
    width: 300px;
    height: 300px;
    border: 1px solid green;
    display: flex;
    flex-direction: column;
    justify-content:space-around;

}
.buttons-container button {
border-radius: 5px;
height: 35px;

}


.especial {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 40px;
    background-color: #0da643;
    border-radius: 20px;
}

.especial:hover {
    background-color: white;
}

.especial:hover a {
    color: #0da643;
}

.normie {
    margin-top: 10px;
}

.normie a {
    position: relative;
    text-decoration: none;
}

.normie a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0da643;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.normie a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.header {
    padding-inline: 16px;
}

.nav {
    max-width: 1280px;
    height: 70px;
    margin-inline: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-top: 10px;
    font-size: 48px;
}

.nav-list {
    display: flex;
    gap: 32px;
    list-style: none;
}

.nav-list a {
    font-size: 18px;
    color: #fff;
    padding-block: 16px;
}

.logo img {
    width: 150px;
    height: 80px;
}

.hamburger {
    display: none;
    border: none;
    background: none;
    border-top: 3px solid #fff;
    cursor: pointer;
}

.hamburger::after,
.hamburger::before {
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background: #fff;
    margin-top: 5px;
    position: relative;
    transition: 0.3s;
}
/* ============ HEADER STYLE ============ */

/* ============ BODY STYLE ============ */
.comunity-container {

    border: 1px solid red;
    width: 50%;
    height: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    
}
.social-logo {

height: 50px;
width: 300px;
display: flex;
justify-content: space-around;
align-items: center;


}
.social-logo li {
list-style-type: none;
color: #fff;
}
.social-logo a {
    color: #fff;
}

.social-logo {
display: flex;
gap: 100px;
font-size: 35px;

}
button {
cursor: pointer;

}