* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Arial, Helvetica, sans-serif;
}


body {
  background-color: #171810;
  height: 100vh;
}

/* ============ HEADER STYLE ============ */
header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoContainer {
  width: 150px;
  height: 80px;
}

.logoContainer img {
  width: 150px;
  height: 80px;
}

/* ============ HEADER STYLE // Nav-menu  ============ */
.navMenu {
  display: flex;
  justify-content: end;
  width: 789px;
  height: 80px;
  align-items: center;
  gap: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 20px;
}

.navMenu ul {
  display: flex;
  list-style-type: none;
  font-size: 18px;
  justify-items: center;
  align-items: center;
}

.navMenu a {
  text-decoration: none;
  color: #fff;
}

.navMenu ul li {
  margin-left: 45px;
}

.navMenu li:hover {
  color: #0da643;
}

li {
  position: relative;
  color: #fff;
  text-decoration: none;
}

li:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0da643;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

li:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.btnRegistro {
  width: 150px;
  height: 40px;
  background-color: #0da643;
  border: none;
  border-radius: 8px;
}
.btnRegistro:hover {
  background-color: #fff;
}
button a {
  width: 145px;
  height: 35px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}
button a:hover {
  color: #0da643;
}

/* ============ HEADER STYLE // Nav-menu  ============ */
/* ============ HEADER STYLE ============ */
/* ============ MAIN STYLE   ============ */

main {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
main h1 {
    color: #fff;
}

main span {
    color: #0da643;
}

.contentsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 100%;
}
/*===========YOUTUBE===========*/
.videoContainer1 a{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 100px;
  background-color: #022941;
  border-radius: 20px;
  gap: 20px;
  text-decoration: none;
}
.videoContainer2 a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 100px;
    background-color: #022941;
    border-radius: 20px;
    gap: 20px;
    margin-top: 20px;
    text-decoration: none;
}

.textvideoConteiner1 {
  width: 151px;
}

.textvideoConteiner2 {
    width: 151px;
    
}
.textvideoConteiner1 p {
  color: #fff;

  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
}
.textvideoConteiner2 p {
    color: #fff;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
  }
/*===========YOUTUBE===========*/

/*===========ARTIGO===========*/
.artigoContainer1 a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 100px;
    background-color: #022941;
    border-radius: 20px;
    gap: 20px;
    margin-top: 20px;
    text-decoration: none;
}

.artigoContainer2 a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 100px;
    background-color: #022941;
    border-radius: 20px;
    gap: 20px;
    margin-top: 20px;
    text-decoration: none;
}
.artgConteiner1 {
    width: 151px;
  }
  
.artgConteiner2 {
      width: 151px;
      
  }
.artgConteiner1 p {
    color: #fff;
  
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
  }
.artgConteiner2 p {
    color: #fff;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    
}

/*===========ARTIGO===========*/


.paginaContainer1 a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 100px;
    background-color: #022941;
    border-radius: 20px;
    gap: 20px;
    margin-top: 20px;
    text-decoration: none;
}
.textContainer1 {
    width: 151px;
    
}
.textContainer1 p {
  color: #fff;

  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
}


/*=========== IMAGENS STYLE ===========*/
.videoContainer1 img {
  width: 80px;
  height: 60px;
}
.videoContainer2 img{
    width: 80px;
    height: 60px;
}

.artigoContainer1 img {
    width: 80px;
    height: 70px;
}

.artigoContainer2 img {
    width: 80px;
    height: 70px;
}

.paginaContainer1 img {
    width: 80px;
    height: 70px;
}
/*=========== IMAGENS STYLE ===========*/

footer {
  margin-top: 30px;
  display: flex;
  align-items: end;
  justify-content: center;
  color: white;
}

/* ============ MAIN STYLE   ============ */
