* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #171810;
    height: 100vh;
}

/* ============ HEADER STYLE ============ */
header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    width: 150px;
    height: 80px;
}

.logo-container img {
    width: 150px;
    height: 80px;
}

/* ============ HEADER STYLE // Nav-menu  ============ */
.nav-menu {
    display: flex;
    justify-content: end;
    width: 789px;
    height: 80px;
    align-items: center;
    gap: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 20px;
}

.nav-menu ul {
    display: flex;
    list-style-type: none;
    font-size: 18px;
    justify-items: center;
    align-items: center;
}

.nav-menu a {
    text-decoration: none;
    color: #fff;
}

.nav-menu ul li {
    margin-left: 45px;
}

.nav-menu li:hover {
    color: #0da643;
}

li {
    position: relative;
    color: #fff;
    text-decoration: none;
}

li:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0da643;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

li:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.btn-register {
    width: 150px;
    height: 40px;
    background-color: #0da643;
    border: none;
    border-radius: 8px;
}
.btn-register:hover {
    background-color: #fff;
}
button a {
    width: 145px;
    height: 35px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
button a:hover {
    color: #0da643;
}

/* ============ HEADER STYLE // Nav-menu  ============ */
/* ============ HEADER STYLE ============ */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
main h1 {
    margin: 35px;
    font-weight: bolder;
    color: white;
}
span {
    color: #0da643;
}
h1 {
    color: white;
    font-weight: bolder;
}
a {
    text-decoration: none;
}
.areaCont{
    display: flex;
    justify-content: center;
    width: 90%;
    height: 570px;
    background-color: #022941;
    border-radius: 60px;
}
.imagem img {
    width: 542px;
}
.texto {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    width: 680px;
    color: white;
    font-size: 26px;
}
.texto h1:hover {
    color: #0da643;
}
footer {
    margin-top: 30px;
    display: flex;
    align-items: end;
    justify-content: center;
    color: white;
}