* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #171810;
  height: 100vh;
}

/* ============ HEADER STYLE ============ */
header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}

.logoContainer {
  width: 150px;
  height: 80px;
}

.logoContainer img {
  width: 150px;
  height: 80px;
}

/* ============ HEADER STYLE ============ */
/* ============ Login ============ */
section {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.login h1 {
  text-align: center;
  color: white;
  font-size: 46px;
}

.login span {
  color: #0da643;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 500px;

}

.formulario {
  display: flex;

  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label {
  display: block;
  margin-bottom: 8px;
  color: white;
}

input {
  background-color: white;
  border-radius: 20px;
  width: 800px;
  padding: 8px;
  margin-bottom: 12px;
  box-sizing: border-box;
}

button {
  background-color: #0da643;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 20px;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: #45a049;
}

.formu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 250px;
  gap: 20px;
}


.segLoginContainer img {
  width: 50px;
  height: 50px;

}

.segLoginContainer a {
  color: #04FF59;
  text-decoration: none;

}

.segLoginContainer p {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

.segLoginContainer {
  display: flex;
  width: 316px;
  height: 100px;
  gap: 15px;
}

.registroTextoContainer {

  width: 200px;
  height: 70px;

}

.emailContainer {
  align-items: center;
  display: flex;
  width: 400px;
  height: 70px;
  gap: 5px;
}



.senhaContainer {
  align-items: center;
  display: flex;
  width: 400px;
  height: 70px;
  gap: 5px;

}

.senhaContainer img {
  width: 45px;
  height: 42px;

}

.btnLogin {
  width: 202px;
  height: 43px;
  border-radius: 20px;

}
@media (max-width: 1100px){
  form {
    width: 400px;
    padding: 0;
  }
  .formulario {
    width: 400px;
  }
}


/* ============ Login ============ */