body {
  background-color: #171810;
  height: 100vh;
}

/* ============ HEADER STYLE ============ */
header {
  width: 100%;
  height: 142px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-container {
  width: 284px;
  height: 139px;
}
.logo-container img {
  width: 284px;
  height: 139px;
}
/* ============ HEADER STYLE // Nav-menu  ============ */
.nav-menu {
  display: flex;
  justify-content: center;
  width: 789px;
  height: 90px;
  justify-items: center;
  align-items: center;
  gap: 20px;
}
.nav-menu ul {
  display: flex;
  list-style-type: none;
  font-size: 24px;
  justify-items: center;
  align-items: center;
}

.nav-menu a {
  text-decoration: none;
  color: #fff;
}
.nav-menu ul li {
  margin-left: 45px;
}

.btn-register {
  width: 202px;
  height: 43px;
  background-color: #0da643;
  border: none;
  border-radius: 8px;
}
button a {
  font-size: 24px;
  font-family: "Times New Roman", Times, serif;
}
/* ============ HEADER STYLE // Nav-menu  ============ */

/* ============ HEADER STYLE ============ */

/* ============ BODY STYLE ============ */

.questions{
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 100%;
  height: 400px;
  

}

#question {
  color: #0da643;
  text-align: center;
}

.btn-group1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
 
}
.btn-group1 button {
  width: 425px;
  height: 88px;
  border-radius: 50px;
  cursor: pointer;
  border: none;
}
.btn-group2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
}
.btn-group2 button {
  width: 425px;
  height: 88px;
  border-radius: 50px;
  cursor: pointer;
  border: none;
}
section{
display: flex;
flex-direction: column;
align-items: center;

}

section .btn-follow {
  width: 350px;
  height: 70px;
  border-radius: 20px;
  font-size: 26px;
  border: none;
  cursor: pointer;
  background-color: #0da643;
  color: #fff;

}
h1 {
  color: #fff;
  text-align: center;
  font-size: 24px;
}

/* ============ BODY STYLE ============ */