body {
  background-color: #171810;
  height: 100vh;
}

/* ============ HEADER STYLE ============ */
header {
  width: 100%;
  height: 142px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-container {
  width: 284px;
  height: 139px;
}
.logo-container img {
  width: 284px;
  height: 139px;
}
/* ============ HEADER STYLE // Nav-menu  ============ */
.nav-menu {
  display: flex;
  justify-content: center;
  width: 789px;
  height: 90px;
  justify-items: center;
  align-items: center;
  gap: 20px;
}
.nav-menu ul {
  display: flex;
  list-style-type: none;
  font-size: 24px;
  justify-items: center;
  align-items: center;
}

.nav-menu a {
  text-decoration: none;
  color: #fff;
}
.nav-menu ul li {
  margin-left: 45px;
}

.btn-register {
  width: 202px;
  height: 43px;
  background-color: #0da643;
  border: none;
  border-radius: 8px;
}
button a {
  font-size: 24px;
  font-family: "Times New Roman", Times, serif;
}
/* ============ HEADER STYLE // Nav-menu  ============ */

/* ============ HEADER STYLE ============ */

/* ============ BODY STYLE ============ */
h1 {
  color: #fff;
  text-align: center;
  font-size: 24px;
}
.opcoes h1 {
  background-color: #fff;
  width: 425px;
  height: 88px;
  border-radius: 50px;
}
.quest h1 {
  text-align: center;
  font-size: 50px;
}
.seguir {
    display: flex;
    align-items: center;
}
.seguir h1 {
  background-color: #0da643;
  border-radius: 20px;
  width: 500px;
  height: 100px;
  font-size: 30px;
}

.questions-container{
  width: ;
  height: ;
  border: 2px dotted green;
}
/* ============ BODY STYLE ============ */


