* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #171810;
    height: 100vh;
}

/* ============ HEADER STYLE // Nav-menu  ============ */
a {
    text-decoration: none;
}

.especial {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 40px;
    background-color: #0da643;
    border-radius: 20px;
}

.especial:hover {
    background-color: white;
}

.especial:hover a {
    color: #0da643;
}

.normie {
    margin-top: 10px;
}

.normie a {
    position: relative;
    text-decoration: none;
}

.normie a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0da643;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.normie a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.header {
    padding-inline: 16px;
}

.nav {
    max-width: 1280px;
    height: 70px;
    margin-inline: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-top: 10px;
    font-size: 48px;
}

.nav-list {
    display: flex;
    gap: 32px;
    list-style: none;
}

.nav-list a {
    font-size: 18px;
    color: #fff;
    padding-block: 16px;
}

.logo img {
    width: 150px;
    height: 80px;
}

.hamburger {
    display: none;
    border: none;
    background: none;
    border-top: 3px solid #fff;
    cursor: pointer;
}

.hamburger::after,
.hamburger::before {
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background: #fff;
    margin-top: 5px;
    position: relative;
    transition: 0.3s;
}
/* ============ HEADER STYLE ============ */

h1 {
    text-align: center;
    color: white;
    font-weight: bolder;
    margin: 10px 0;
}
span {
    color: #0da643;
}
h2 {
    color: #0da643;
    font-weight: bold;
    text-align: center;
    margin: 10px 0;
}
h3 {
    color: #0da643;
    font-weight: bold;
    text-align: justify;
}
p {
    text-align: justify;
    color: white;
}
section {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.modulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 400px;
    background-color: #022941;
    border-radius: 20px;
}
.descrição {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 340px;
}
.descrição ul {
    margin-left: 30px;
    color: white;
}
.btn button {
    display: flex;
    justify-content: center;
    align-items: end;
}
.modulo button {
    margin: 30px 0;
    width: 250px;
    height: 45px;
    border: none;
    border-radius: 5px;
    background-color: #0da643;
    color: white;
    cursor: pointer;
}
.modulo button:hover {
    background-color: white;
    color: #0da643;
}



/*Mobile*/
@media (max-width: 1100px) {
    .hamburger {
        display: block;
        z-index: 1;
    }

    .nav-list {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: #022941;
        clip-path: circle(100px at 90% -25%);
        transition: 1s ease-out;

        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 0;
        pointer-events: none;
    }

    .nav-list a {
        font-size: 24px;
        opacity: 0;
    }

    .nav-list li:nth-child(1) a {
        transition: 0.5s 0.2s;
    }

    .nav-list li:nth-child(2) a {
        transition: 0.5s 0.4s;
    }

    .nav-list li:nth-child(3) a {
        transition: 0.5s 0.6s;
    }

    /* Estilos ativos */

    .nav.active .nav-list {
        clip-path: circle(1500px at 90% -25%);
        pointer-events: all;
    }

    .nav.active .nav-list a {
        opacity: 1;
    }

    .nav.active .hamburger {
        position: fixed;
        top: 26px;
        right: 16px;
        border-top-color: transparent;
    }

    .nav.active .hamburger::before {
        transform: rotate(135deg);
    }

    .nav.active .hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
    }
    section {
        flex-direction: column;
        align-items: center;
    }
}

/* ============ FOOTER ============ */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    justify-content: center;
    color: #a0a0a0;
    background-color: #202020;
    margin-top: 80px;
}
.social-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    list-style-type: none;
    gap: 50px;
    font-size: 40px;
}
.social-logo a {
    color: #ffffff;
}
.text-logos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 100px;
} 
/* ============ FOOTER ============ */  